{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>

</style>

<div class=" bg-[#496C90] flex flex-row">
<div>
    <img src="{{ asset('medias/skieur.png') }}" alt="">
    <h1 class=" px-[50px] text-[6rem] text-white mb-2"> SKI & CO </h1>
    <p class=" px-[50px] text-white text-[25px] ">
        Découvrez notre site et vivez des moments <br> inoubliables sur les pistes enneigées !
    </p>

        <button onclick="" class="mx-[50px] bg-white text-[#637C96] rounded-lg	rounded-tl-none h-[8vh] w-[25vw]">
            Reserver maintenant

        </button>


    <img class="px-0" src="{{ asset('medias/mountains.png') }}" alt="">

</div>


</div>


{% endblock %}
