{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .bg-skieur{
        background-image: url("{{ asset('medias/bg-skieur.png') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
    }
</style>
<div class="bg-[#496C90] h-screen">



    <div class="flex flex-row h-full">

        <div class="w-[50%] relative bg-[#496C90] flex h-full">
            <div class="w-10/12 mx-auto h-full flex flex-col mt-4">
                <img class="w-[12vw] -ml-8 -mb-2 " src="{{ asset('medias/skieur.png') }}" alt="">
                <h1 class="  text-[6rem] text-white font-bold -mb-2 "> SKI & CO </h1>
                <p class=" font-thin tracking-wide text-white w-8/12 text-[20px] ">
                    Découvrez notre site et vivez des moments inoubliables sur les pistes enneigées !
                </p>

                <button onclick="" class= " font-thin mt-8 bg-white text-[#637C96] text-2xl rounded-full rounded-tl-none py-4 w-max px-8">
                    RÉSERVEZ MAINTENANT
                </button>

            </div>

            <img class="w-full absolute flex bottom-0 left-0 h-[50%] object-cover" src="{{ asset('medias/mountains.png') }}" />


        </div>

        <div class="bg-skieur ">
            <ul class="flex flex-row justify-center text-[2.5vh] justify-around items-center mt-7 gap-[-5px] text-white  ">

                <li><a href="#">Accueil</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Connexion</a></li>

            </ul>

        </div>



    </div>

    <div>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis deleniti enim incidunt laboriosam minima, minus perspiciatis voluptas! Accusamus culpa, debitis doloremque iusto necessitatibus nemo optio porro quisquam vel vitae.</p>

    </div>