{% extends 'base.html.twig' %}

<form>

    <label> Nom d'utilisateur </label>
    <input name="user" value="user">
    <label> Mot de passe </label>
    <input name="password" value="password">

</form>