{% extends 'base.html.twig' %}
{% block body %}

    <style>
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #496C90;
        }
    </style>
        <h1 class="text-[2rem] text-white text-center">Add a station</h1>
    <div class= " flex flex-col justify-center items-center gap-[20px]font-thin bg-[#112748] text-white rounded-[15px] py-4 px-8 ">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_end(form) }}
        <a  class="font-thin mx-[25px] bg-white text-[#637C96] text-2xl rounded-full rounded-tl-none py-2 w-max px-8 mt-4"  href="{{ path('app_app') }}"> Retour aux stations </a>

    </div>
{% endblock %}