{% extends 'base.html.twig' %}

{% block title %}Ski Resort{% endblock %}

{% block body %}
<h1>Ski Resort</h1>

{{ component('weather', { location: 'Gavarnie' }) }}
{{ component('restaurant_carousel', { piste_id: 21 }) }}
{% endblock %}
